@use "root";
@use "minScreen" as *;

.product {
    display: var(--hamburger-enabled-display, block);
}

.about {
    padding: 4rem var(--padding-mobile);
    text-align: center;

    .img-box {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .content-box {
        h2 {
            padding: 2rem 0 1rem;
            white-space: normal;
            letter-spacing: 0.4rem;
            text-transform: uppercase;

            span {
                display: block;
            }
        }

        p {
            color: var(--crl-Very-Dark-Gray);
            line-height: 1.5;
        }
    }
}


@include minScreen(60em) {
    .about {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 5rem var(--padding-desktop);
        position: relative;

        .content-box {
            position: absolute;
            width: 45%;
            bottom: 10%;
            padding: 3% 1% 5% 5%;
            text-align: left;
            right: 15%;
            background-color: #fff;

            h2 {
                padding: 0;
                font-size: 32px;
                line-height: 1;
                margin-bottom: 2rem;
            }
        }
    }
}

@include minScreen(1440px) {
    .about {
        position: relative;
        padding: 8rem var(--padding-sec-desktop);

        .content-box {
            padding: 5% 0 5% 5%;
            width: 30%;
            bottom: 10%;
        }

        h2 {
            font-size: 42px;
        }
    }
}