:root {
    --clr-White: hsl(0, 0%, 100%);
    --clr-Black: hsl(0, 0%, 0%);
    --clr-Dark-Gray: hsl(0, 0%, 55%);
    --clr-Very-Dark-Gray: hsl(0, 0%, 41%);
    --fs: 15px;
    --font-family-400: 'Alata', sans-serif;
    --font-family-300: 'Josefin Sans', sans-serif;
    --font-weight-alata-400: 400;
    --font-weight-josefin-300: 300;
    --padding-desktop: 2rem;
    --padding-mobile: 0.5rem;
    --padding-sec-desktop: 8.5rem;
}